html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h3 {
  width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* cabecera */
header {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 3rem 0px;
}

.form-item {
  margin: 1.5rem 0px;
}

.form-item input {
  width: 100%;
  height: 2rem;
}

/* tarjeta y lista */

.list-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 15rem
}

.card-item {
  margin: 0px 1rem 2rem;
  box-shadow: 5px 5px 15px -09px #000000;
  border-radius: 15px;
}

.card-item .card-content {
  padding: 0px 1rem 1.5rem;
}

.card-item .card-img {
  padding: 0px 1rem 1.5rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-item img {
  opacity: 0;
}

a.card-action {
  padding: 0.5rem 0.8rem;
  border: 1px solid #0000ff4b;
  color: #0000ff7c;
}

/* perfil */

.perfil-people {
  display: flex;
  justify-content: center;
  margin: 10rem 0px;
}

.people-img {
  margin: 0px 1rem;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.people-info {
  margin: 0px 1rem;
}

.people-img img {
  opacity: 0;
  border-radius: 10px;
}

.btn-ejer {
  margin-left: 1rem;
}

/* media-query */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

@media (max-width: 1024px) {
  .list-content {
    margin: 0px 0px
  }
}

@media (max-width: 425px) {
  .perfil-people {
    flex-direction: column;
  }

}